<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>example-ios-buddybuild.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>62C276621F55BCF4008C03C1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>62C276761F55BCF5008C03C1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>62C276811F55BCF5008C03C1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
